{% load staticfiles %}
<footer>
	<div class="footer">
		<div class="wp">
			<ul class="cont">
				<li class="logo">
                    <a href="{% url "index" %}">
                        <img src="{% static "images/footlogo.png" %}"/>
                    </a>
                </li>
			</ul>
		</div>
		<p class="line"></p>
		<div class="wp clear">
            <span class="fl">&copy;2017 哈工大威海在线学习交流平台 保留所有权利</span>
            <span class="fr">ICP备案证书号：鲁ICP备000000号</span>
		</div>
	</div>
</footer>
<!--
<section>
    <ul class="sidebar">
        <li class="totop"></li>
    </ul>
</section>
-->